<h1>Sheet Music</h1>

<TABLE BORDER=1 BGCOLOR=#ffffff CELLSPACING=1 cellpadding=5 align=center>
  <tr>
    <th>Title</th>
    <th>Composer/Arranger</th>
    <th>Publisher</th>
    <th>Period/Genre</th>
    <th>Voicing</th>
    <th>Season</th>
    <th>Liturgical Year</th>
    <th>Language</th>
    <th>Instrumentation</th>
    <th>Usage</th>
    <th>When/Who Performed</th>
    <th>Number of Copies</th>
    <th>Price per Copy</th>
    <th>Status</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sheets.each do |sheet| %>
  <tr>
    <td><%= sheet.Title %></td>
    <td><%= sheet.ComposerorArranger %></td>
    <td><%= sheet.Publisher %></td>
    <td><%= sheet.PeriodorGenre %></td>
    <td><%= sheet.Voicing %></td>
    <td><%= sheet.Season %></td>
    <td><%= sheet.LiturgicalYear %></td>
    <td><%= sheet.Language %></td>
    <td><%= sheet.Instrumentation %></td>
    <td><%= sheet.Usage %></td>
    <td><%= sheet.WhenorWhoPerformed %></td>
    <td><%= sheet.NumofCopies %></td>
    <td><%= sheet.PriceperCopy %></td>
    <td><%= sheet.Status %></td>
    <td><%= sheet.Comments %></td>
    <td><%= link_to 'Show', sheet %></td>
    <td><%= link_to 'Edit', edit_sheet_path(sheet) %></td>
    <td><%= link_to 'Destroy', sheet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sheet', new_sheet_path %><br>
<%= link_to 'Home', root_path %>