<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @sheet.Title %>
</p>

<p>
  <b>Composerorarranger:</b>
  <%= @sheet.ComposerorArranger %>
</p>

<p>
  <b>Publisher:</b>
  <%= @sheet.Publisher %>
</p>

<p>
  <b>Periodorgenre:</b>
  <%= @sheet.PeriodorGenre %>
</p>

<p>
  <b>Voicing:</b>
  <%= @sheet.Voicing %>
</p>

<p>
  <b>Season:</b>
  <%= @sheet.Season %>
</p>

<p>
  <b>Liturgicalyear:</b>
  <%= @sheet.LiturgicalYear %>
</p>

<p>
  <b>Language:</b>
  <%= @sheet.Language %>
</p>

<p>
  <b>Instrumentation:</b>
  <%= @sheet.Instrumentation %>
</p>

<p>
  <b>Usage:</b>
  <%= @sheet.Usage %>
</p>

<p>
  <b>Whenorwhoperformed:</b>
  <%= @sheet.WhenorWhoPerformed %>
</p>

<p>
  <b>Numofcopies:</b>
  <%= @sheet.NumofCopies %>
</p>

<p>
  <b>Pricepercopy:</b>
  <%= @sheet.PriceperCopy %>
</p>

<p>
  <b>Status:</b>
  <%= @sheet.Status %>
</p>

<p>
  <b>Comments:</b>
  <%= @sheet.Comments %>
</p>


<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
